<template>
    <section ref="block" class="projects" id="block_3">
        <!--<div class="container">
          <div class="slide-heading">
            <div class="slide-number">
              <div class="current">03</div>
              <div class="total">/07</div>
            </div>
            <h2>{{ block_names[2].link[lang] }}</h2>
          </div>
          <div class="projects-wrap">
            <no-ssr>
            <slick ref="slick" class="slideshow" :options="slickOptions">
              <div class="slide" v-for="(project, i) in projects" :key="i">
                <div class="content">
                  <div class="type"> {{ $t('project') }} </div>
                  <div class="title">{{project.title[lang]}}</div>
                  <div class="description" v-html="project.description[lang]"></div>
                  <div class="more" @click="openProject(i)">
                    <div>{{$t("more")}}</div>
                    <arrow/>
                  </div>
                </div>
                <picture class="background" v-if="project.images.length>0">
                      <img :src="project.images[0].url" alt="">                   
                  </picture>
              </div>
            </slick>
            </no-ssr>
            <div class="arrow-container prev">
              <arrow/>
            </div>
            <div class="arrow-container next">
              <arrow/>
            </div>
          </div>
        </div>-->
      </section>    
</template>
<script>
import arrow from '@/assets/svg/arrow.svg'
import axios from 'axios'

export default {
  async fetch ({ req, app,store, params }) {
     if (!store.state.projects.length) {
        const projects = await axios.get('https://rubyfloors.com/admin/wp-json/wp/v2/projects/').then( response =>{
            return {
                projects: response.data.map(item =>({
                    title: item.acf.project_name,
                    description: item.acf.project_descrription,
                    images: item.acf.projects_images
                }))
            }
            store.commit("setProjects", projects);

        })
    }
  },
  computed:{
    projects (){
        if (this.$store.state.projects == null) return false;
        return this.$store.state;
    }
  }
}
</script>

