<template>
    <section>
        <menuComponent :lang="lang" :sub="subMenu" :names="[]" />
        <footerComponent :lang="lang" />
        <floors :data="floorData" :lang="lang" />
    </section>    
</template>
<script>
import config from '~/api/config.js'
import axios from 'axios'

import menuComponent from '~/components/menuComponent'
import footerComponent from '~/components/footerComponent'
import floors from '~/components/floors'

export default {

  async fetch ({ req, app,store, params }) {
    if (store.state.floors['laminats']<1) {
      const floor  = await axios.get('https://rubyfloors.com/admin/wp-json/wp/v2/pages/269' ).then( response =>{
          return {
            data: response.data.acf
          };
      })
      store.commit("setFloors", [floor.data, 'laminats']);
    }
  },
  data(){
    return{
      subMenu:[
        {
          name:{
            ru: 'главная',
            lv : 'Galvenā',
          },
          link: '/',
          active: false,
        },
        {
          name:{
            ru: 'Трехслойная паркетная доска',
            lv : 'Trīsslāņu parkets',
          },
          link: '/trisslanu-parkets',
          active: false,
        },      
        {
          name:{
            ru: 'Ламинат',
            lv : 'Lamināts',
          },
          link: '/laminats',
          active: true,
        },
        {
          name:{
            ru: 'Винил',
            lv : 'Vinils',
          },
          link: '/vinils',
          active: false,
        },
        {
          name:{
            ru: 'Паркет из ореха',
            lv : 'Riekstkoka vairogparkets',
          },
          link: '/riekstkoka-vairogparkets',
          active: false,
        },
        {
          name:{
            ru: 'Художественный',
            lv : 'Mākslinieciskais',
          },
          link: '/makslinieciskais',
          active: false,
        }
      ]
    }
  },
  computed:{
    floorData(){
      return this.$store.state.floors['laminats'];
    },
    lang(){
      return this.$store.state.locale;
    },
  },
  components:{
    menuComponent,
    footerComponent,
    floors
  },
}
</script>
